<div class="container mt-5" style="width:400px;">
  <div class="text-center">
    <h4><i class="fa fa-lock fa-4x"></i></h4>
    <h3 class="text-center">Mot de passe oublié?</h3>
    <p>Vous pouvez réinitialiser votre mot de passe.</p>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  <br>

  <%= render "devise/shared/links" %>
</div>