<div class="card-deck">
  <% @events.each do |event|%>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card text-center my-3 border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header"><h5><%= event.title%></h5></div>
        <div class="card-body ">
          <h5 class="card-title ">Evènement n° <%= event.id %></h5>
          <h6 class="card-title"> Lieu de l'évènement: <%= event.location %></h6>
          <h6 class="card-title">Prix: <%= event.price %></h6>
          <a href="<%= event_path(event.id) %>" class="btn btn-success text-center">Voir l'évenement</a><br><br>
        </div>
      </div>
    </div>
  <% end %>
</div>
