<div class="card-deck justify-content-center">
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card text-center my-3">
        <div class="card-body">
          <h5 class="card-title ">Evènement n° <%= @event.id %></h5>
          <h5 class="card-title text-secondary"> Titre : <%= @event.title%></h5>
          <p class="card-text"> Début: <%= @event.start_date %> </p>
          <p class="card-text"> Prix: <%= @event.price %>€</p>
          <p class="card-text"> Durée: <%= @event.duration %></p>
          <p class="card-text"> Lieu de l'évènement: <%= @event.location %></p>
          <p class="card-text"> Créé par l'utilisateur: <%= @event.admin.email %></p>

          <% if current_user == @event.admin %>
            <a href="<%= edit_event_path(@event.id) %>" class="btn btn-outline-secondary text-center ml-3 mt-2">Editer l'évènement</a>
            <a href="<%= event_path(@event.id) %>" class="btn btn-danger text-center ml-3 mt-2" data-confirm="are you sure?" data-method="DELETE">Supprimer l'évènement</a>
          <% end %>

        </div>
      </div>
    </div>
</div>